.wrap {
  position: absolute;
  top: 3rem;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  transform: translate(0, 0, 0);
}

.hide_header {
  top: 0 !important;
}
